{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>
    Task List
    <a href="{% url 'todo_list:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if tasks %}
    {% for task in tasks %}
      <div class="task-item">
        <h3>{{ task.content }}</h3>
        <p>Created: {{ task.created_at }}</p>
        {% if task.deadline %}
          <p>Deadline: {{ task.deadline }}</p>
        {% endif %}
        <p>Tags:</p>
        <ul>
          {% for tag in task.relevant_tags.all %}
            <li>{{ tag.name }}</li>
          {% endfor %}
        </ul>
        <a href="{% url 'todo_list:task-update' pk=task.id %}" class="btn btn-info">
          Update
        </a>
        <a href="{% url 'todo_list:task-delete' pk=task.id %}" class="btn btn-danger">
          Delete
        </a>
        <form method="post" action="{% url 'todo_list:task-toggle-status' pk=task.id %}" class="form-inline">
          {% csrf_token %}
          {% if task.done %}
            <button type="submit" class="btn btn-warning" style="margin-top: 10px;">Undo</button>
          {% else %}
            <button type="submit" class="btn btn-success" style="margin-top: 10px;">Complete</button>
          {% endif %}
        </form>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}